* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.App {
    width: 800px;
}

.post {
    display: flex;
    padding: 15px;
    border: 2px solid teal;
    margin-top: 15px;
    justify-content: space-between;
    align-items: center;
}
.post__btns {
    display: flex;
}
.post-enter { /* когда элемент добавлен */
    transform: translateX(-150px);
}
.post-enter-active { /* анимация добавления элемента */
    transition: all 500ms ease-in;
    transform: translateX(0);
}
.post-exit { /* когда элемент удален */
    opacity: 1;
}
.post-exit-active { /* анимация удаления элемента */
    transition: all 500ms ease-in;
    transform: translateX(-150px);
}

.page__wrapper {
    display: flex;
    margin-top: 30px;
}
.page {
    padding: 10px;
    border: 1px solid teal;
    cursor: pointer;
}
.page__current {
    font-weight: bold;
    border: 2px solid orange;
}

.navbar {
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 15px;
    background-color: lightgrey;
}
.navbar__links {
    margin-left: auto;
}
